body {
  margin: 0;
  font-family: Verdana, sans-serif;
  color: var(--palette-color-white1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dev {
  border: solid;
  border-color: antiquewhite;
}

:root {
  --palette-color-black4: #35373b;
  --palette-color-black1: #1f2126;
  --palette-color-black2: #000000;
  --palette-color-black3: #363940;
  --palette-color-violet1: #222559;
  --palette-color-blue1: #589ea6;
  --palette-color-blue2: #6cccda;
  --palette-color-blue3: #90d8e3;
  --palette-color-gray1: #6b6b6b;
  --palette-color-white1: #f2f2f2;

  --animation-speed: 0.3s;
}

.Test {
  z-index: -1;
  background-color: wheat;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}